<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<!-- A1 is set to be a ConsoleAppender -->
	
    <!--
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date{dd.MM.yy HH:mm:ss}] %logger - %message%newline" />
		</layout>
	</appender>
	-->	
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="jaminet.log" />
		<appendToFile value="true" />
		<maximumFileSize value="500KB" />
		<maxSizeRollBackups value="2" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date{dd.MM.yy HH:mm:ss}] %logger - %message%newline" />
		</layout>
	</appender>
	<!-- Set root logger level to Appender -->
	<!-- ALL DEBUG INFO WARN ERROR FATAL OFF -->
	<root>
		<level value="ALL" />
        <!--<appender-ref ref="ConsoleAppender" /> -->
		<appender-ref ref="RollingFileAppender" />
	</root>
</log4net>